body {
  background-color: #f2f2f2;
}

.post-list {
  background-color: white;
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid #e1e8ed;
}

.post-list h1 {
  color: #4C9EEB;
  text-align: center;
}

.post {
  background-color: #ffffff;
  border: 1px solid #e1e8ed;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-header h3 {
  color: #141619;
  margin: 0;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}

.post-header span {
  color: #BDC5CD;
}

.post-content {
  color: #141619;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .post {
    padding: 10px;
  }

  .post-header h3 {
    font-size: 14px;
  }

  .post-content {
    font-size: 14px;
  }
}
